*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background: #fefefe;
    font-family: 'Raleway', sans-serif;
    line-height: 2;
    }
.contenedor{
    width: 100%;
    margin: 15px;
}
.formulario{
   background: bisque;
    margin-top: 150px;
    padding: 3px;
}